html {
  font-size: 10px;
}

.flex-box {
  display: flex;
}
.flex-box {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  color: #ff5700;
}
.mb-0{
  margin-bottom: 0!important;}

